body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c3327;
    font-family: 'Roboto', sans-serif;
    gap: 50px;
}

#game-container {
    background-color: #c7ddd1;
    color: #181F1C;
    display: flex;
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: none;
}

.file {
    background-color: #c7ddd1;
    border: solid black;
    min-height: auto;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

button {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
}

button {
    background-color: #c7ddd1;
    font-size: 50px;
    color: #181F1C;
    padding: 20px 30px;
    margin: 15px;
    border-radius: 5px;
}

#btn-div {
    display: flex;
    flex-direction: column
}

#score {
    color:#c7ddd1;
    font-size: 45px;
}